
html, body { margin: 0; background-color: #ccc; }
body { overflow-y: scroll; }

.stranka { width: 297mm; height: 209.5mm; overflow: hidden; position: relative; margin: auto; background-color: #fff; }

.pruh {
  position: absolute;
  height: 100%;
}

.pismeno { position: absolute; position: absolute; font-size: 120mm; line-height: 120mm; font-family: SymbolsFont; top: 77mm; left: 25mm; }
.pismeno::before { position: relative; } /* musí být relative, protože absolute si konvertor přeloží jako mimo obraz a některá písmena nevytiskne */
.pismeno.a::before { content: "α"; top:  27mm; left:  2mm; }
.pismeno.b::before { content: "β"; top:   5mm; left: 16mm; font-size: 110mm; }
.pismeno.c::before { content: "γ"; top:   0mm; left:  9mm; }
.pismeno.d::before { content: "δ"; top:  27mm; left: 13mm; }
.pismeno.e::before { content: "ε"; top:  27mm; left: 25mm; }

.jmeno { position: absolute; margin: 0; top: 8.5mm; left: 5mm; width: 90mm; font-size: 4.3rem; line-height: 140%; }
.jmeno.soupis { font-size: 2rem; }

.text { position: absolute; top: 0; left: 99mm; width: 198mm; height: 100%; text-align: justify; }

.sloupce {
  position: absolute;
  height: 92%;
  width: 90%;
  margin: 4% 5%;

  -webkit-column-gap: 10mm;
  -moz-column-gap: 10mm;
  /* -webkit-column-rule: 1px solid black; */
}

.sloupceWeb {
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.sloupceTisk {
  /* You *must* define a fixed height which is
   *      large enough to fit the whole content,
   *      otherwise the layout is unpredictable. */
  /* already inherited */
  /* Width and count aren't respected, but you
   *      have to give at least some dummy value (??). */
  -webkit-columns: 0 0;
  /* This is the strange way to define the number of columns:
   *      50% = 2 columns, 33% = 3 columns 25% = 4 columns */
  width: 42.5%;
  /* Gap and rule do work. */
}

.sloupce > :first-child { margin-top: 0; }

/* TYPO */
body {
  font-family: SomeFont;
  font-size: 4mm;
  line-height: 1.11rem;
}

ul, ol { margin: 0; padding: 0 0 0 1.5rem; }
p, li { margin: 1.11rem 0; }
